# Dependencies
node_modules

# Build outputs
dist
.output
.nuxt
.cache

# Environment files
.env
.env.*

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode
.idea

# Package manager
pnpm-lock.yaml
package-lock.json
yarn.lock

# Other
coverage
